

<div class="login-form">
  <%= form_for :user, url: '/users' do |f| %>
    <%= f.text_field :username, placeholder: 'Username', class: "form_field" %>
    <%= f.password_field :password, placeholder: "Password", class: "form_field" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form_field" %>
    <%= f.submit "Signup", class: "btn btn-outline-light"  %>
  <% end %>

</div>
