<div class="custom-container">
  <h1>Subscriptions</h1>


  <div id="card-deck-grid" class="card-deck">
    <% @user.podcasts.each do |p| %>
    <div class="card">
      <%= image_tag("#{p.image}", class:"card-img-top") %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to p.name, podcast_path(p) %></h5>

        <p class="card-text"><%= p.short_description %></p>
        <span class='badge badge-pill badge-dark'><%= link_to p.genre.name, genre_path(p.genre) %></span>
      </div>
    </div>
    <% end %>



</div>

<% if @user.subscriptions.length == 0 %>
  <p>You are currently not subscribed to any podcasts. Check them out <%= link_to "here", podcasts_path %>.</p>
<% end %>

</div>
