<h1><%= @podcast.name %></h1>

<img src="<%= @podcast.episodes.first.image %>" alt="">

<%= link_to @podcast.genre.name, genre_path(@podcast.genre) %>
<%= @podcast.description %>
<% @podcast.episodes.each do |e| %>
  <%= link_to e.name, episode_path(e) %>
<% end %>



<% if current_user.podcasts.include?(@podcast) %>

<%= render 'subscriptions/delete' %>
<% else %>
<%= render 'subscriptions/new' %>
<% end %>
