<h1><%= @podcast.name %></h1>

<%= link_to @podcast.genre.name, genre_path(@podcast.genre) %>

<% @podcast.episodes.each do |e| %>
  <%= link_to e.name, episode_path(e) %>
<% end %>

<%= @podcast.description %>


<%= render 'subscriptions/new' %>
<%= render 'subscriptions/delete' %>


a button that takes us somewhere and associates the current user with the current podcast id
