<!DOCTYPE html>
<html>
  <head>
    <title>Peapod</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/assets/stylesheets/index.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  </head>

  <body>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to "PeaPod", root_path, class: "navbar_brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">


          <%if session[:user_id] %>
            <li class="nav-item">
              <%= link_to "My Account", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= podcasts_path %>">Podcasts <span class="sr-only">(current)</span></a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= genres_path %>">Categories <span class="sr-only">(current)</span></a>

            </li>

            <li class="nav-item">
                <%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= podcasts_path %>">Podcasts <span class="sr-only">(current)</span></a>

          </li>
            <li class="nav-item">
                <%= link_to "Login", login_path, method: :get, class: "nav-link" %>

            </li>

          <% end %>

        </ul>
        <span class="navbar-text"><%="Logged in as: #{current_user.username} " if session[:user_id]%></span>
      </div>
    </nav>



    <%= yield %>
  </body>

  <footer>
    
  </footer>

</html>
