<!DOCTYPE html>
<html>
  <head>
    <title>Peapod</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div >

        <%if session[:user_id] %>
          <%= link_to "My Account", user_path(current_user) %>
          <p>Signed in as: <%= current_user.username %> </p>
          <%= button_to "Logout", logout_path, method: :delete %>
        <%else %>
          <%= button_to "Login", login_path, method: :get %>

        <% end %>
        <%= link_to "Podcasts", podcasts_path %>

        <%= link_to "Categories", genres_path %>



    </div>

    <%= yield %>
  </body>
</html>
